.contactUs{
    /* background-color: hsl(219, 48%, 8%); */
    background-color: white;
    width: 100%; 
    height: 100vh; 
    border-bottom: 2px solid green;
}
.contactRightbar{
    /* background-image: linear-gradient(to bottom,hsl(250,100%,75%),white ); */
    width: 30%;

    animation: contactForm 1s linear forwards;
    position: absolute;
    right: 0;
    height: inherit;

}
.contactcontainer{

   
    height: 76%;
    width: 68%;
    background-color: hsl(219, 48%, 8%);

    /* background-color: #f7f5f5; */
    position: absolute;
    border-radius: 0px 141px 0px 141px;
    top: 58%;
    box-shadow: 0 0 8px rgb(251 249 249);
    display: flex;
    justify-content: center;
    transform: translateX(20%) translateY(-50%);
    animation: contactcontainer 1s linear forwards;

}

@keyframes contactcontainer {
    from{
        transform: translateX(-100%) translateY(-50%) rotateZ(-360deg) ;
    }
    to{
        transform: translateX(20%) translateY(-50%) ;

    }
}
.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.formcontainer p{
    text-align: center !important;
    color: white;
    font-size: 2.5rem;

}
.formcontainer input,.formcontainer textarea{
    padding: 1vmax;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
    font-family: "Roboto";
    border: 1px solid rgba(0,0, 0,0.205);
    transform: translateX(-100vw);
    animation: fromcontainer 1s ease-in-out forwards 0.5s;
    

}
.formcontainer input:focus,.formcontainer textarea:focus{
    border: black;
    box-shadow: 0px 1px 3px 2px white;
}
@keyframes fromcontainer {
    to{
        transform: translateX(0);
    }
}






.buttons { 
     /* margin: 5%; */
    text-align: center;
}

.btn-hover {
    width:33vw;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* .btn-hover:focus {
    outline: none;
} */
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #d11513, #892c2c, #1999ee, #380bde);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


.disbale {
    background-color: rgb(237,237,237) !important;
    cursor: not-allowed !important;
  }

/* .formcontainer button
{
    background-color: hsl(250, 100%, 75%);
    height: 20px;
    width: 400px;
    transform: translateY(200vh);
    animation: FormBtn 1s ease-in-out forwards 1.5s;

}
.formcontainer button:hover{
    background-color: hsl(219, 48%, 8%);
    
} */




@keyframes FormBtn {
    to{
        transform: translateY(0);
    }
}

@media screen and (min-width:300px) and (max-width:600px) {
    .formcontainer
    {
      width: 70%;
    }
    .contactcontainer{
        /* height: 61%;
        border-radius: 92px 0px 92px 7px;
        transition: all 0.5s; */
        margin-left: -0.5rem;
        height: 76%;
        width: 76%;
        /* border-radius: 0px; */
        border-radius: 86px 1px 92px 7px;
        transition: all 0.5s;
    }
    .formcontainer>h4{
        font-size: 20px;
    }
    /* .btn-hover {
        width:220px;
    } */
    /* Default styles for the toast messages */
.toast {
    margin-top: 20%;
    width: 300px;
  }
  
  /* Responsive styles for smaller screens */
    .toast {
      width: 100%;
    }
  
  /* Additional styling for success messages */
  .toast.success {
    color: green; /* Use a suitable color for success messages */
    margin-top: 25%;

  }
  
  /* Additional styling for error messages */
  .toast.error {
    color: red;
  }
  
  /* Center text within the toast */
  .toast-content {
    text-align: center;
  }
  
}